<!DOCTYPE html>
<html lang="ja">
    <head>
        <style>
        .pad{
            background-color: lavender;
            border:  solid 2px;
            padding: 50px;
            margin: 50px;
        }
        </style>
    </head>

    <body>
        <div class="pad">
            <h2>パスワードがリセットされました</h2>
            <h4>パスワードの設定が完了しました。
                トップページに戻り、ログインしてください。
            </h4>
            <br>
            <!--入力フォーム-->
            <a href="{% url 'photo:index' %}">トップページへ</a>
        </div>
    </body>
</html>