{% extends "base.html" %}
{% block title %}Photo Delete{% endblock %}
{% block contents %}
    <br>
    <div class="conteiner">
        <form method="post">
            {% csrf_token %}
            <br>
            <P>削除してもいいですか？</P>  
            <button class="btn btn-primary my-2"
                    type="submit">削除</button>
            
            <a href="{% url 'photo:photo_detail' object.pk %}"
                class="btn btn-secondary my-2">キャンセル</a>
        </form>
    </div>
{% endblock %}